name: コンパイルワークフロー
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4
        with:
          ref: main
          clean: true
      - name: Rust をセットアップ
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - name: wasm-pack をインストール
        run: cargo install wasm-pack
      - name: ブランチの整理
        run: |
          mv paradox-search/src dist
      - name: WASM をビルド
        run: |
          wasm-pack build --release --target web --out-dir $GITHUB_WORKSPACE/dist/module/wasm paradox-combination-wasm
      - name: Optimize Wasm
        uses: NiklasEi/wasm-opt-action@v2
        with:
          file: dist/module/wasm/*.wasm
          optimize_all: true
      - name: ブランチの整理
        run: |
          find . -mindepth 1 \( -path './dist' -o -path './.git' \) -prune -o -exec rm -rf {} +
          rsync -av --exclude='.gitignore' dist/ ./
          rm -rf dist
          git add .
      - name: 変更をコミット
        run: |
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git checkout --orphan temp
          git add -A
          git commit -m "最新のデータを更新"
          if git show-ref --verify --quiet refs/heads/pages; then
            git checkout pages
            git reset --hard temp
          else
            git branch -m pages
          fi
          git branch -D temp || true
          git push -f origin pages
